@page
@model YazYaz.Pages.Profile.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Watchlist) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WatchlistId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WatchlistId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WatchlistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
