@page
@model YazYaz.Pages.Quotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Quote.QuoteID" />
            <div class="form-group">
                <label asp-for="Quote.Text" class="control-label"></label>
                <input asp-for="Quote.Text" class="form-control" />
                <span asp-validation-for="Quote.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Author" class="control-label"></label>
                <input asp-for="Quote.Author" class="form-control" />
                <span asp-validation-for="Quote.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Title" class="control-label"></label>
                <input asp-for="Quote.Title" class="form-control" />
                <span asp-validation-for="Quote.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Status" class="control-label"></label>
                <select asp-for="Quote.Status" class="form-control"></select>
                <span asp-validation-for="Quote.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
