@page
@model YazYaz.Pages.IndexModel
@{
}

<div class="container-fluid">

    <div class="row ">

        <div class="col-md-12 text-center">
            <h2>Start typing!</h2>
        </div>

    </div>

    <div class="row">

        <!--generated paragraphs-->
        <div class="lead paragraph col-md-12 blocks border">
        </div>
    </div>
    <div class="row justify-content-center">
        <label for="comment">The timer starts when a key is pressed.</label>

        <input class="form-control" id="userInput" onkeypress="CallBoth(event)" onkeydown="BackSpace(event)" />
        <!--alert-->
        <div class="alert alert-danger alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> The timer is still running. You must finish typing all of the content!
        </div>
        <button type="button" class="resetBtn btn btn-primary btn-lg"><i class="fa fa-refresh"></i> Reset</button>
    </div>
</div>

